<section id="projects">
<div class="container">
  <h3>Experience</h3>
  <div class="panel panel-default">
    <div class="panel-body">
        <h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;
            <strong>
                <a href="https://summerofcode.withgoogle.com/organizations/5727014175113216/#5821055986302976">
                    Google Summer of Code '18 @ GA4GH
                </a>
            </strong></br>
			GA4GH is a policy-framing and technical standards-setting organization, seeking to enable responsible genomic data sharing within
            a human rights framework.<br/> I’ll be working on the compliance document and test suite of reference servers which provides genomics
            data via RESTful APIs, a python client to talk to these servers along with a CLI and finally an end to end compatibility matrix and
            test suite to test server-client architecture.
		</h5>

		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;
            <strong>
                <a href="https://pypi.org/project/customizable-django-profiler/">
                    customizable-django-profiler @ github
                </a>
            </strong></br>
			Django cProfile middleware having configurable triggers and outputs which can be used for profiling requests for performance
            optimizations of remote servers.
		</h5>


        <h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;
            <strong>
                <a href="http://supertext.ai/">
                    Summer Internship @ Supertext Technologies, Bangalore
                </a>
            </strong></br>
            Supertext is an Artificial intelligence startup headquartered in Bangalore, India. Focusing on automation of business processes through
            application of NLP (natural language processing), ML (machine learning) and deep learning algorithms. <br/>
		</h5>

        <h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;
            <strong>
                <a href="http://www.hilabs.com/">
                    Summer Internship @ H-ilabs INC, Mumbai
                </a>
            </strong></br>
            HILABS "DO-IT-YOURSELF" healthcare data mining platform empowers whole new group of employees within health organizations to intuitively
            explore their data and discover, by themselves, novel insights. <br/>
		</h5>

        <h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;
            <strong>
                <a href="https://cognizance.org.in/">
                    Co-convener Web @ Cognizance, IIT Roorkee
                </a>
            </strong></br>
            Cognizance is the annual technical festival of IIT Roorkee. <br/>
		</h5>

        <h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;
            <strong>
                <a href="https://play.google.com/store/apps/details?id=com.compbio.iitr.dhadkan">
                    Dhadkan mobile application @ CBTB Lab, IIT Roorkee
                </a>
            </strong></br>
			Dhadkan is a Mobile App for remotely monitoring and providing medical assistance to the patients of heart failure.
		</h5>
    </div>
  </div>
</div>
</section>
